<?xml version="1.0"?>
<launch>



    <param name="robot_description" command="$(find xacro)/xacro '$(find robot_description)/urdf/robot_govde.xacro'"/>

    
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find labirent_ortam)/worlds/labirent_ortam.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"  args="-param robot_description -urdf -model robot" />

    <node name="Rsp" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <node name="Joint_tester" pkg="rviz" type="rviz" output="screen" args="$(find robot_description))/config/simple.rviz"/>


    <node pkg="gmapping" type="slam_gmapping" name="maping_node">
        <param name="base_frame" value="base_link" />
        <param name="odom_frame" value="odom" />
        <param name="delta" value="0.1" />
    </node>

    <node pkg="move_base" type="move_base" name="Base_move" output="screen">
        <param name="controller_frequency" value="10.0" />
        <rosparam file="$(find robot_gazebo)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find robot_gazebo)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find robot_gazebo)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_gazebo)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_gazebo)/config/trajectory_planner.yaml" command="load" />
      </node>

</launch>
